<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="dev.sunnyday.core.ui">

    <application>

        <activity
            android:name=".propertyDelegate.RestorableTestActivity"
            android:theme="@style/Theme.AppCompat"
            />

    </application>

</manifest>
